.barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 15vh;
    //background-color: antiquewhite;
    position: relative;
    width: 100%;


    .input-container {
        width: 700px;
        height: 50px;
        
        @media screen and (max-width: 775px){
            width: 675px;
        }
        @media screen and (max-width: 762.5px){
            width: 662.5px;
        }
        @media screen and (max-width: 750px){////
            width: 650px;
        }
        @media screen and (max-width: 737.5px){
            width: 637.5px;
        }
        @media screen and (max-width: 725px){
            width: 625px;
        }
        @media screen and (max-width: 712.5px){
            width: 612.5px;
        }
        @media screen and (max-width: 700px){//////////
            width: 600px;
        }
        @media screen and (max-width: 687.5px){
            width: 587.5px;
        }
        @media screen and (max-width: 675px){
            width: 575px;
        }
        @media screen and (max-width: 662.5px){
            width: 562.5px;
        }
        @media screen and (max-width: 650px){/////
            width: 550px;
        }
        @media screen and (max-width: 637.5px){
            width: 537.5px;
        }
        @media screen and (max-width: 625px){
            width: 525px;
        }
        @media screen and (max-width: 612.5px){
            width: 512.5px;
        }
        @media screen and (max-width: 600px){/////////////////
            width: 500px;
        }
        @media screen and (max-width: 587.5px){
            width: 487.5px;
        }
        @media screen and (max-width: 575px){
            width: 475px;
        }
        @media screen and (max-width: 562.5px){
            width: 462.5px;
        }
        @media screen and (max-width: 550px){///////
            width: 450px;
        }
        @media screen and (max-width: 537.5px){
            width: 437.5px;
        }
        @media screen and (max-width: 525px){
            width: 425px;
        }
        @media screen and (max-width: 512.5px){
            width: 412.5px;
        }
        @media screen and (max-width: 500px){/////////////////
            width: 400px;
        }
        @media screen and (max-width: 487.5px){
            width: 387.5px;
        }
        @media screen and (max-width: 475px){
            width: 375px;
        }
        @media screen and (max-width: 462.5px){
            width: 362.5px;
        }
        @media screen and (max-width: 450px){///////
            width: 350px;
        }
        
        // jajajaj quien es el genio que ha hecho este media query 不不不不



        border-radius: 2px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;

        background-color: darkgoldenrod;
        box-shadow: inset .4rem .4rem 1rem rgb(143, 103, 3),//por dentro
                    inset -.4rem -.4rem 1rem rgb(242, 181, 27),//por dentro
                    0 0 0 .5rem darkgoldenrod,//grosor
                    0 0 0 .5rem darkgoldenrod,//grosor
                    .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
                    -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuera
        position: relative;
        overflow: hidden;
        input {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            padding: .5rem 1rem;
            font-size: 1.1rem;
            font-weight: 500;
        }
        span {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #161616;
            width: 30px;
            aspect-ratio: 1;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 .3rem rgba(0, 0, 0, .3);
            transition: 200ms ease-in-out background-color,
                        200ms ease-in-out box-shadow;
            i {
                color: rgb(242, 181, 27);
                font-size: .7rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 200ms ease-in-out color,
                            200ms ease-in-out font-size;
            }
                        
        }
        ::-webkit-input-placeholder { color: rgb(35, 31, 31); }


        /* this symbol (~) selects the sibling element */
        /* span is a sibling element of input and the other way around */
        input:focus ~ span {
            background-color: transparent;
            box-shadow: none;
        }
        input:focus ~ span i {
            color: white;
            font-size: 1.5rem;
        }

    
    }

    .elemento{
        margin: 2.5rem;
        height: 70px;
        width: 70px;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        outline: none;
        border:  none;
        
        //fuente del boton
        font-size: 1.2rem;
        font-weight: 600;
        width: 9rem;
        height: 3rem;
        //border-radius: 14px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius:2px ;
        border-top-left-radius: 25px;
        border-top-right-radius: 2px;

        transition: all 1s ease-out;
        

        @media screen and (max-width: 900px){
            height: 60px;
            width: 60px;
            margin: 2.25rem;
            
        }

        @media screen and (max-width: 600px){
            height: 50px;
            width: 50px;
            margin: 1.9rem;
            box-shadow: 0 0 0 .4rem darkgoldenrod,//grosor
                    0 0 0 .4rem darkgoldenrod,//grosor
                    .4rem .4rem .5rem rgb(113, 82, 4),//por  fuera
                    -.4rem -.4rem .5rem rgb(242, 181, 27);//por fuera
            
        }

        background: darkgoldenrod;
        box-shadow: 0 0 0 .5rem darkgoldenrod,//grosor
                    0 0 0 .5rem darkgoldenrod,//grosor
                    .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
                    -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuera

        spam{
            font-size: 2rem;
            cursor: pointer;
            transition: .4s;
        }

        &:hover{
            box-shadow: inset .4rem .4rem 1rem rgb(143, 103, 3),//por dentro
            inset -.4rem -.4rem 1rem rgb(242, 181, 27),//por dentro
            0 0 0 .5rem darkgoldenrod,//grosor
            0 0 0 .5rem darkgoldenrod,//grosor
            .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
            -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuer
        }
    }

}


    
