.barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 200px;
    position: relative;
    width: 100%;
    overflow: hidden;
    //background-color: antiquewhite;


    .input-container {
        position: relative;
        width: 700px;
        height: 50px;
        //width: 95%;
        @media screen and (max-width: 760px){
            width: 95%;
        }
        


        border-radius: 2px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;

        background-color: darkgoldenrod;
        box-shadow: inset .4rem .4rem 1rem rgb(143, 103, 3),//por dentro
                    //shadow izq top blur-radius
                    inset -.4rem -.4rem 1rem rgb(242, 181, 27),//por dentro
                    //shadow drch bottom blur-radius
                    0 0 0 .5rem darkgoldenrod,//grosor
                    //0 0 0 .5rem darkgoldenrod,//grosor
                    .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
            //shadow drch botom blur-radius
                    -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuera
            //shadow izqu top blur-radius
        overflow: hidden;
        @media screen and (max-width: 400px){//.3rem
            box-shadow: inset .3rem .3rem 1rem rgb(143, 103, 3),//por dentro
            //shadow izq top blur-radius
            inset -.3rem -.3rem 1rem rgb(242, 181, 27),//por dentro
            //shadow drch bottom blur-radius
            0 0 0 .3rem darkgoldenrod,//grosor
            //0 0 0 .5rem darkgoldenrod,//grosor
            .3rem .3rem 1rem rgb(113, 82, 4),//por  fuera
             //shadow drch botom blur-radius
            -.3rem -.3rem 1rem rgb(242, 181, 27);//por fuera
            //shadow izqu top blur-radius
        }

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            padding: .5rem 1rem;
            font-size: 1.1rem;
            font-weight: 500;
        }
        span {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #161616;
            width: 30px;
            aspect-ratio: 1;
            border-radius: 50%;
            cursor: pointer;
            transition: 200ms ease-in-out background-color,
                        200ms ease-in-out box-shadow;
            i {
                color: rgb(242, 181, 27);
                font-size: .7rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 200ms ease-in-out color,
                            200ms ease-in-out font-size;
            }
                        
        }
        ::-webkit-input-placeholder { color: rgb(35, 31, 31); }


        /* this symbol (~) selects the sibling element */
        /* span is a sibling element of input and the other way around */
        input:focus ~ span {
            background-color: transparent;
            box-shadow: none;
        }
        input:focus ~ span i {
            color: white;
            font-size: 1.5rem;
        }

    
    }

    .boton{
        margin: 2.5rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border:  none;
        
        //fuente del boton
        font-size: 1.2rem;
        font-weight: 600;
        width: 10rem;
        height: 2.5rem;
        //border-radius: 14px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius:2px ;
        border-top-left-radius: 25px;
        border-top-right-radius: 2px;

        transition: all 1s ease-out;
        

        background: darkgoldenrod;
        box-shadow: 0 0 0 .5rem darkgoldenrod,//grosor
                    0 0 0 .5rem darkgoldenrod,//grosor
                    .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
                    -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuera

        .elemento{
            font-size: 15px;
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
        }

        &:active{
            box-shadow: inset .4rem .4rem 1rem rgb(143, 103, 3),//por dentro
            inset -.4rem -.4rem 1rem rgb(242, 181, 27),//por dentro
            0 0 0 .5rem darkgoldenrod,//grosor
            0 0 0 .5rem darkgoldenrod,//grosor
            .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
            -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuer
        }
    }

}


    
