.cabecera{
    position: relative;
    width: 100%;
    height: 91.5vh;
    margin-top: 5rem;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 91.5vh, 0 91.5vh);
    //1800 1200 900 600 500
    @media screen and (max-height: 512px){
        margin-top: 4rem;
        height: 96vh;
    }
    
    @media screen and (max-width: 1200px){
        height: 80vh;
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 80vh);
    }
    /*
    @media screen and (max-width: 900px){
        height: 70vh;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 70vh);
    }
    */
    @media screen and (max-width: 600px){
        height: 60vh;
        clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 60vh);
    }
    @media screen and (max-width: 500px){
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 50vh);
    }
       .imagenes{
        display: flex;
        animation: cambio 15s linear infinite alternate;
        width: 400%;
        height: 100%;//IMPORTANDE NO QUITAR
        
        // animation: backcolor 3s linear infinite alternate;
            .imagen {
                width: 100%;
                height: 100%;
                z-index: -1;
                position: relative;
                filter: blur(1px);//borrosito

                img{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            
        }
    
    @keyframes cambio{
        0%{margin-left: 0;};
        20%{margin-left: 0;}
    
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
    
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
    
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }

    

   .COCOKTAIL{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 10rem;//10rem
        font-weight: 600;

        -webkit-text-stroke: 4px #fff;/*borde blanco*/

        background-image: linear-gradient(#fff,#fff);/*cuadro blanco*/
        background-repeat: no-repeat;
        /*letras*/
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        /*relleno*/
        background-position: -975px 0;/*inicio de relleno*/
        animation: backcolor 3s linear infinite alternate;
        
     //aqui
    //1800 1200 900 600 500
        @media screen and (max-width: 1200px){
            -webkit-text-stroke: 3px #fff;/*borde blanco*/
            font-size: 7rem;  
            background-position: -750px 0;/*inicio de relleno*/ 
        }

        @media screen and (max-width: 900px){
            -webkit-text-stroke: 3px #fff;/*borde blanco*/
            font-size: 5.5rem;   
            background-position: -550px 0;/*inicio de relleno*/ 
        }

        @media screen and (max-width: 600px){
            -webkit-text-stroke: 2px #fff;/*borde blanco*/
            font-size: 4.5rem;  
            background-position: -460px 0;/*inicio de relleno*/ 
        }

        @media screen and (max-width: 500px){
            -webkit-text-stroke: 1px #fff;/*borde blanco*/
            font-size: 4rem;
            background-position: -400px 0;/*inicio de relleno*/ 
        }

        @media screen and (max-width: 300px){
            -webkit-text-stroke: 1px #fff;/*borde blanco*/
            font-size: 2.7rem;
            background-position: -280px 0;/*inicio de relleno*/ 
        }

        
    }
    @keyframes backcolor{
        100%{
            background-position: 0 0;
        }
    }

}


