h1{
    font-size: 2.5rem;
    text-align: center;
    color: #f5f5f5;
    text-shadow:1px 1px 1px #919191,//el relieve
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 8px 5px rgba(16,16,16,0.4),//la sombra
                1px 10px 10px rgba(16,16,16,0.4),
                1px 14px 20px rgba(16,16,16,0.4),
                1px 17px 30px rgba(16,16,16,0.4)
                
                ;
                
}