footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
    .social{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        flex-direction: row;
        
        ul{
            display: flex;
            list-style: none;//adios puntos
            //flex-wrap: wrap;

            .elemento{
                a{
                    color: black;
                }
                margin: 2.5rem;
                height: 70px;
                width: 70px;
                background-color: aliceblue;
                display: flex;
                justify-content: center;
                align-items: center;
    
                //border-radius: 14px;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius:2px ;
                border-top-left-radius: 25px;
                border-top-right-radius: 2px; 
                

                @media screen and (max-width: 900px){
                    height: 60px;
                    width: 60px;
                    margin: 2.25rem;
                    
                }

                @media screen and (max-width: 600px){
                    height: 50px;
                    width: 50px;
                    margin: 1.9rem;
                    box-shadow: 0 0 0 .4rem darkgoldenrod,//grosor
                            0 0 0 .4rem darkgoldenrod,//grosor
                            .4rem .4rem .5rem rgb(113, 82, 4),//por  fuera
                            -.4rem -.4rem .5rem rgb(242, 181, 27);//por fuera
                    
                }

                background: darkgoldenrod;
                box-shadow: 0 0 0 .5rem darkgoldenrod,//grosor
                            0 0 0 .5rem darkgoldenrod,//grosor
                            .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
                            -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuera

               // transition: all 1s ease-out ;
               -webkit-transition: box-shadow 0.5s  ease-in-out; 
               transition: box-shadow 0.5s  ease-in-out;
               
                spam{
                    font-size: 2rem;
                    cursor: pointer;
                    transition: .5s;
                }
                
            }
            
        }
        .elemento:hover{
            box-shadow: inset .4rem .4rem 1rem rgb(143, 103, 3),//por dentro
            inset -.4rem -.4rem 1rem rgb(242, 181, 27),//por dentro
            0 0 0 .5rem darkgoldenrod,//grosor
            0 0 0 .5rem darkgoldenrod,//grosor
            .4rem .4rem 1rem rgb(113, 82, 4),//por  fuera
            -.4rem -.4rem 1rem rgb(242, 181, 27);//por fuera
            -webkit-transition: box-shadow 0.5s  ease-in-out; 
               transition: box-shadow 0.5s  ease-in-out;
        }
       

        
        .fa-facebook-f:hover{
            font-size: 1.8rem;
                color:#3B5998;
        }

        .fa-twitter:hover{
            font-size: 1.8rem;
                color:#1DA1F2;
        }
        .fa-instagram:hover{
            font-size: 1.8rem;
            background: #f09433; 
            background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
            -webkit-background-clip: text;
            color: transparent;
            
        }
        .fa-youtube:hover{
            font-size: 1.8rem;
                color:#FF0000;
        }
        
    }

    .derechos{
        padding: 15px 10px;
        text-align: center;
        
        small{
        font-size: 1rem;

        }
    }
}






