.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    background: darkgoldenrod;
    overflow: hidden;
    font-size: 1.5rem;

    .contenedor .form.signin,
    .contenedor.signinForm .form.signup{//ESCONDO EL 2º FORMULARIO
        display: none;
    }

    //hago funcion
    .contenedor.signinForm .form.signin{
        display: flex;
    }

    .contenedor{
        padding: 40px;
        @media screen and (max-width: 400px){//.3rem
            padding: 20px;
        }
        border-radius: 20px;
        box-shadow:inset .5rem .5rem 15px rgb(143, 103, 3),//por dentro
        inset -.4rem -.4rem 15px rgb(242, 181, 27),//por dentro
        0 0 0 10px darkgoldenrod,//grosor
        0 0 0 10px darkgoldenrod,//grosor
        .5rem .5rem 15px rgb(113, 82, 4),//por  fuera
        -.5rem -.5rem 15px rgb(242, 181, 27);//por fuera


        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:25px;

            h2{
                color:white;
                font-weight: 500;
                letter-spacing: 0,1rem;
                
            }

            .inputBox{
                position: relative;
                width: 300px;
                
                @media screen and (max-width: 400px){//.3rem
                    width: 100%;
                }
                

                input:valid ~ span,
                input:focus ~ span{
                    color:  rgb(83, 60, 1);
                    border: 1px solid rgb(83, 60, 1);
                    background:darkgoldenrod ;
                    transform: translateX(25px) translateY(-7px);
                    font-size: 0.6em;
                    padding: 0 8px;
                    border-radius: 10px;
                    letter-spacing: 0.1em;
                    transition: 0.5s;
                }
                //span de radio para arriba colocado
                input[type="radio"]:valid ~ span,
                input[type="radio"]:focus ~ span{
                    transform: translateY(1.5px);
                   
                }
                input:valid,
                input:focus{
                    border: 1px solid rgb(83, 60, 1);
                }
                input[type="radio"]{
                    accent-color: #000;
                    color: #000;
                }

                input{
                    padding: 12px 10px 12px 48px;
                    border:none;
                    width: 100%;
                    background:darkgoldenrod ;
                    border: 1px solid darkgoldenrod ;
                    color: white;
                    font-weight: 300;
                    border-radius: 25px;
                    font-size: 1em;
                    
                    transition: 0.5s;
                    text-decoration: none;
                    outline:none;//adios bordes feos
                }
               

                input[type="text"]{
                    box-shadow: -5px -5px 15px rgb(242, 181, 27),
                    5px 5px 15px rgb(113, 82, 4);
                }

                .opciones{
                    //appearance: none;

                    //border-radius: 50%;
                    //width: 16px;
                   // height: 16px;
                  
                    border: 2px solid #999;
                    transition: 0.2s all linear;
                    //margin-right: 5px;
                  
                   // position: relative;
                    //top: 4px;
                }
              
                input[type="submit"]{
                    background:  rgb(83, 60, 1);  
                    color: darkgoldenrod;
                    padding: 10px 0;
                    font-weight: 500;
                    cursor: pointer;
                    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
                    5px 5px 15px rgba(0,0,0,0.35),
                    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                    inset 5px 5px 15px rgba(0,0,0,0.35);

                }

                span{
                    position: absolute;
                    left: 0;
                    padding: 12px 10px 12px 48px;
                    pointer-events: none;//
                    font-size: 1em;
                    font-weight: 300;
                    letter-spacing: 0,05em;
                    color: rgba(255,255,255,0.5);
                    @media screen and (max-width: 300px){
                        font-size: .95em;
                        transform: translateY(3px);//pososcionar letras

                    }
                }

                i{
                    position: absolute;
                    top: 15px;
                    left: 16px;
                    width: 25px;
                    padding: 2px 0;
                    padding-right: 8px;
                    color:  rgb(83, 60, 1);
                    border-right: 1px solid  rgb(83, 60, 1);
                    @media screen and (max-width: 300px){
                        transform: translateY(-2px);//posicionar dibujos

                    }
                }
            }

            p{//¿Ya eres miembro?
                color: rgba(255,255,255, 0.5);
                font-size: 0.75em;
                font-weight: 300;
                

                a{
                    font-weight: 500;
                    color: white;
                }
            }

        }
    }

}


.radiogroup {
    padding: 20px 48px;
    border-radius: 16px;
    background: darkgoldenrod;
    
    /*
    box-shadow: -5px -5px 15px rgb(242, 181, 27),
                    5px 5px 15px rgb(113, 82, 4);
                    */
    width: 300px;
    .wrapper {
        margin: 8px 0;
        /*
            .state {
                
             
                
                //pointer-events: none;
                
                width: 30px;
                height: 20px ;
                background: darkgoldenrod;
                outline: none;
                cursor: pointer;
            
            }
        */
        input[type="radio"] {
            /* ...existing styles */
            display: grid;
            place-content: center;
          }
          
          input[type="radio"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
           // box-shadow: inset 1em 1em var(--form-control-color);
          }
          
          input[type="radio"]:checked::before {
            transform: scale(1);
          }
    }
}
  
  
  
  
  
  
 