.popup{
    @include center();
    color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    transition: all .7s;
    visibility: hidden;
    opacity: 0;

    .contenido{
        position: relative;
       // @include center();
        background-color: darkgoldenrod;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        align-self:flex-end;
         
       
        @media screen and (max-width: 830px){
            width: 99%;
        }
        
        overflow: hidden;
        height: 500px;
        width: 800px;
        @media screen and (max-width: 700px){
           
            grid-template-rows: 1.5fr 1fr;
            grid-template-columns: 1fr;
            height: 600px;
            place-content: center;
        }
        @media screen and (max-width: 510px){
           
            grid-template-rows: 1.5fr 1fr;
            grid-template-columns: 1fr;
            height: 600px;
            place-content: center;
        }

        // max-height: 540px;
        // max-width: 960px;

        box-shadow:inset .4rem .4rem 5px rgb(143, 103, 3),//por dentro
                    inset -.4rem -.4rem 5px rgb(242, 181, 27),//por dentro
                    0 0 0 4px darkgoldenrod,//grosor
                    0 0 0 4px darkgoldenrod;//grosor
        
        
        transition: all .7s;
        transform: translateY(-100px);

        .derecha{
            position: relative;
           
            @include center();
           
            
            .ingredientes{
                padding-right: 20px;
                margin-right: 0;
                @media screen and (max-width: 700px){
                    height: 100%;
                }
                
                
                h2{
                    text-transform: uppercase;
                    padding-right: 20px;
                    font-weight: bold;
                    font-size: 24px;
                    @media screen and (max-width: 700px){
                        padding: 0 20px;
                       //font-size: 22px;
                    }
                    @media screen and (max-width: 500px){
                       font-size: 24.5px;
                    }
                    @media screen and (max-width: 400px){
                        font-size: 22.5px;
                    }
                    @media screen and (max-width: 350px){
                        font-size: 22px;
                    }
                }
                p{
                    margin-top: 25px;
                    padding-right: 20px;
                    font-size: 16px;
                    @media screen and (max-width: 700px){
                        padding: 10px 20px;
                       // font-size: 14px;
                    }
                    @media screen and (max-width: 500px){
                        font-size: 15.5px;
                    }
                    @media screen and (max-width: 400px){
                        font-size: 15px;
                    }
                    @media screen and (max-width: 350px){
                        font-size: 14px;
                    }
                }
    
                a{
                    position: fixed;
                    top: 20px;
                    right: 20px;
                    font-size: 26px;
                    font-weight: 600;
                    color:black;
                    cursor: pointer;
                    transition: all 250ms ease-in-out;
                }
                a:hover{
                    color: white;
                    transform: rotate(360deg);
                }
                button{
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 600;
                    padding: auto;
                    width: 150px;
                    height: 40px;
                    margin-top: 30px;
                    text-align: center;
                    cursor: pointer;
                    border: none;
                    border-radius: 3px;
                    border-bottom-right-radius: 18px;
                    border-top-left-radius: 18px;
                    background-color: darkgoldenrod;
                    box-shadow:.2rem .2rem .3rem rgb(113, 82, 4),//por  fuera
                    -.2rem -.2rem .3rem rgb(242, 181, 27);//por fuera
                    transition: all 250ms ease-in-out;
                    @media screen and (max-width: 700px){
                        margin-left: 20px;
                    }
                }
                button.verReceta:hover{
                    box-shadow:inset .4rem .4rem 1rem rgb(143, 103, 3),//por dentro
                    inset -.4rem -.4rem 1rem rgb(242, 181, 27),//por dentro
                }
                .verReceta:hover{
                    font-size: 14px;
                    color: white;
                }
    
            }
    
        }

        .izquierda{
            position: relative;
            padding: 20px;
            @include center();
            overflow: hidden;
            align-self: center;

            @media screen and (max-width: 700px){
                padding: 0;
               
            }
            .imagen{
                height: 400px;
                @media screen and (max-width: 700px){
                    height: 300px;
                    position: relative;
                    margin: 0;
                    padding: 0;
                }
                img{
                    @include imgResponsive();
                    
                }
            }

            
        }


    }
    
}

.popup:target{
    visibility: visible;
    opacity: 1;
    z-index: 2;
}