.popup{
    @include center();
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .75);
    transition: all .7s;

    visibility: hidden;
    opacity: 0;
    
    text-align: center;


    .contenido{
        position: absolute;//ES POSITION ABSOLUTE NO POSITION RELATIVE
        background-color: darkgoldenrod;
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-top: auto;
        justify-content: center;
        //justify-content: space-around;
        

        height: 650px;
        width: 500px;
        border-radius: 15px;
     
        
        @media screen and (max-height: 700px){
            height: 96%;
        }
        @media screen and (max-width: 515px){
            width: 96%;
        }
        @media screen and (max-height: 465px){///NAV VERTICAL
            width: 80%;
            grid-template-rows: 1fr;
            grid-template-columns: 3fr 4fr;
        }
        
        /*
        
        @media screen and (max-width: 700px){
           
            grid-template-rows: 1.5fr 1fr;
            grid-template-columns: 1fr;
            height: 600px;
            place-content: center;
        }
        @media screen and (max-width: 510px){
           
            grid-template-rows: 1.5fr 1fr;
            grid-template-columns: 1fr;
            height: 600px;
            place-content: center;
        }
*/

        box-shadow:inset .4rem .4rem 5px rgb(143, 103, 3),//por dentro
                    inset -.4rem -.4rem 5px rgb(242, 181, 27),//por dentro
                    0 0 0 4px darkgoldenrod,//grosor
                    0 0 0 4px darkgoldenrod;//grosor
        
        
        transition: all .7s;
       // transform: translateY(-100px);

        a{
            position: absolute;//ERA PONER POSISTION ABSOLUTEEE
            top: 10px;
            right: 20px;
            font-size: 40px;

            /*
            @media screen and (max-width: 400px){
                font-size: 30px;
            }
            
            @media screen and (max-width: 350px){
                top: 20px;
                right: 25px;
            }*/
            font-weight: 600;
            color:black;
            cursor: pointer;
            transition: all 250ms ease-in-out;
        }
        a:hover{
            color: white;
            transform: rotate(360deg);
        }

  
            .ingredientes{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                justify-content: space-between;
                margin: auto;
                

                @media screen and (max-height: 465px){///NAV VERTICAL
                    padding-right: 30px;
                }
                
                
                .nombre_coco{
                    text-transform: uppercase;
                    font-size: 2rem;
                    font-weight: 600;
                    

                    
                }
                p{
                    
                    font-size: 1.2rem;
                    margin-right: 2%;
                    margin-left: 2%;
                    
                
                    
                }
    
                
                button{    
                    font-size: 16px;
                    font-weight: 500;
                    
                    width: 150px;
                    height: 40px;
                    margin-top: 5%;

                    cursor: pointer;
                    border: none;
                    border-radius: 3px;
                    border-bottom-right-radius: 18px;
                    border-top-left-radius: 18px;
                    background-color: darkgoldenrod;
                    color: white;
                    box-shadow:.2rem .2rem .3rem rgb(113, 82, 4),//por  fuera
                    -.2rem -.2rem .3rem rgb(242, 181, 27);//por fuera
                    transition: all 250ms ease-in-out;
                    
                }
                button.favorito:hover{
                    box-shadow:inset .4rem .4rem 1rem rgb(143, 103, 3),//por dentro
                    inset -.4rem -.4rem 1rem rgb(242, 181, 27),//por dentro
                }
                .favorito:hover{
                    font-size: 14px;
                    color: white;
                }

                 



    
            }

            

            .imagen{
                height: 370px;
                width: 300px;
                margin: auto;
                position: relative;
                @media screen and (max-height: 600px){
                    height: 250px;
                    width: 200px;
                }
                @media screen and (max-height: 300px){
                    height: 220px;
                    width:150px;
                }
                @media screen and (max-width: 450px){
                    height: 300px;
                    width: 250px;
                    margin-top: 40px;
                }
                @media screen and (max-width: 300px){
                    height: 300px;
                    width: 200px;
                    margin-top: 40px;
                }
                
               

                img{
                    border-radius: 15px;
                    object-fit: cover;
                    margin-top: 10%;
                    display: flex;
                    justify-items: center;
                    align-items: center;
                }
                
                
                img{
                    @include imgResponsive();
                    
                }

                //boton favorito


                .heart{
                    height: 50px;
                    width: 50px;
                    background: #f20044;
                    

                    box-shadow: -10px 10px 90px #f20044;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    
                    border: none;
                    /*
                    top: 104%;
                    right: -6%;
                    */
                    left: 50%;
                    top: 60%;
                
                    transform:  translateX(-50%) translateY(-500%) rotate(-45deg);
                    animation: heart 1s linear ;
                }


                .heart:hover{

                    height: 50px;
                    width: 50px;
                    background: #f20044;
                    

                    box-shadow: -10px 10px 90px #f20044;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    
                    border: none;
                    /*
                    top: 104%;
                    right: -6%;
                    */
                    left: 50%;
                    top: 60%;
                
                    transform:  translateX(-50%) translateY(-500%) rotate(-45deg);
                    animation: heart 1.5s linear infinite;
                    
                }
      
                @keyframes heart{
                
                    0%{
                       
                        transform: translateX(-50%) translateY(-500%) rotate(-45deg) scale(1);
                    }

                
                    80%{
                        transform: translateX(-50%) translateY(-500%) rotate(-45deg)  scale(.8);
                    }
                
                    100%{
                        
                        transform: translateX(-50%) translateY(-500%) rotate(-45deg)  scale(.7);
                    }
                
                
                }
                
                .heart::before{
                    content: '';
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    background: #f20044;
                    top: -50%;
                    border-radius: 50px;
                    box-shadow: -3px -3px 90px #f20044;
                    
                    
                }
                
                .heart::after{
                    content: '';
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    background: #f20044;
                    right: -50%;
                    border-radius: 50px;
                    box-shadow: 3px 3px 90px #f20044;
                    
                   
                }

                .heart2{
                    height: 40px;
                    width: 40px;
                    background: transparent;
                    

                  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    
                    
                    top: 104%;
                    right: -6%;
                    transform:  rotate(-45deg);
                    border:none;
                }
                .heart2::before{
                    content: '';
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    background: transparent;
                    top: -50%;
                    border-radius: 50px;
                  
                    border:none;
                    
                    
                }
                
                .heart2::after{
                    content: '';
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    background: transparent;
                    right: -50%;
                    border-radius: 50px;
                    
                    border: none;
                    
                   
                }

                

            }

            
        


    }
    
}

.popup:target{
    visibility: visible;
    opacity: 1;
    z-index: 2;
}



